<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cyberIyke.allvideodowloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.cyberIyke.allvideodowloader.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.VideoDownloader"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name="com.cyberIyke.allvideodowloader.activities.IntroActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cyberIyke.allvideodowloader.activities.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.cyberIyke.allvideodowloader.activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.cyberIyke.allvideodowloader.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cyberIyke.allvideodowloader.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="m.facebook.com" />
                <data android:host="www.instagram.com" />
                <data android:host="instagram.com" />
                <data android:host="www.dailymotion.com" />
                <data android:host="dailymotion.com" />
                <data android:host="vimeo.com" />
                <data android:host="m.vlive.tv" />
                <data android:host="www.tumblr.com" />
                <data android:host="m.twitch.tv" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />

        <service
            android:name="com.cyberIyke.allvideodowloader.helper.DownloadManager"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <receiver android:name="com.cyberIyke.allvideodowloader.work.CancelReceiver">
        </receiver>
        <receiver android:name="com.cyberIyke.allvideodowloader.work.PauseReceiver"/>

    </application>

</manifest>